
<!-- table -->

<!-- structural Dierective -- *ngFor -->

<div class="container w-50">
    <h1 class="text-white text-center mt-3">Transaction history</h1>
    <table class="border border-white w-50 container mt-3">
        <thead>
            
            <tr class="border border-white">
               <td class="border border-white text-white"><b>Type</b></td>
                <td class="border border-white text-white"><b>Amount</b></td>
            </tr>
    
        </thead> 
        <tbody> 
            <tr *ngFor="let i of transaction" class="border border-white">
                <td class="border border-white text-white">{{i.type}}</td>
                <td class="border border-white text-white">{{i.amount}}</td>
            </tr>
            <!-- <tr class="border border-white">
                <td class="border border-white text-white">Debit</td>
                <td class="border border-white text-white">1000</td>
            </tr> -->
        </tbody>
    </table>
  <div class="text-center mt-3">  <a routerLink="/dashboard">Home</a></div>
</div>

